#body{
  margin: 0px;
  padding: 0px;
  font-family: "Monserrat", arial;
  max-width: 100vw;
  font-size: 1rem;
  overflow-x:hidden;
}

#header{
display: flex;
flex-direction: row;
background-color: #152237;
padding: 28px;
justify-content: space-between;
max-width: 100vw;
gap: 1rem;
color: white;
}

@media screen and (max-width:768px){
  #buttonConnec,#buttonInsc, #Formation{
    display: none;
  }
}

@media screen and (max-width:768px){
#searchBar, #search{
display: none;
}}

#Formation{
  align-self: center;
}

#Klivio{
max-width: 84px;
max-height: 31px;
top: 25px;
left: 98px;
margin-left: 100px;
}

#searchBar{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 5px;
  width: 477px;
  height: 40px;
  justify-content: space-between;
}

#search{
    background: transparent;
    border: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 17px;
}

.search-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#buttons{
  display: flex;
  flex-direction: row;
  gap: 19px;
}

#buttonConnec{
border: none;
border-radius: 6px;
background-color: white;
max-width: 130px;
max-height: 40px;
left: 1300px;
padding-left: 25px;
padding-right: 25px;
}

#buttonInsc{
border:none;
border-radius: 6px;
max-width: 130px;
max-height: 40px;
left: 1449px;
background-image: linear-gradient(to right,#44DD8A, #15B7E2);
padding-left: 25px;
padding-right: 25px;
margin-right: 100px;
}

#Header{
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to right, #44dd8991, #15d8e289), url("./ressources/bg-header.png");
  background-size:cover;
  height: 400px;
  justify-content: center;
}

@media screen and (max-width:768px) {
  #Header{
    background-position: center;
  }
}

#SavoirButton{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

#SavoirPlus{
  background-color: white;
  border: none;
  border-radius: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left:14px;
  padding-right: 14px;
  align-self: center;
}

#TextHeader{
  align-self: center;
}



/* 1st section starting here */
.SectionWhite{
  padding-top: 30px;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 51px;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#FormPopu{
  display: flex;
  flex-direction: column;
  background-color: white;
}

#BoxFormation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 34px;
  max-width: 100vw;
  justify-content:space-evenly;
}

.FormBox{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 19.18em;
  max-height: 22.62em;
}

.FormBox h3{
  margin: 21px 0 0 0;
}

.FormBox h5{
  margin: 11px 0 5px 0;
}

.FormBox p{
  margin: 0;
}


.Price{
  display: flex;
  flex-direction: row;
  position: absolute;
  background: #152237;
  border-radius: 93px;
  max-width: 120px;
  max-height: 32px;
  color: white;
  padding: 5px 8px;
  top: 190px;
  right: 5px;
}

.checked {
  color: orange;
  margin-bottom: 10.8px;
}

.transparent{
  color: orange;
  opacity: 50%;
}

#VoirPlusDiv{
  justify-items: center;
  margin-top: 2.6rem;
}

#VoirPlus{
   max-width: 225px;
  max-height: 40px;
  display: flex;
  border: 0;
  border-radius: 6px;
  background: #152237;
  color: white;
  padding: 11px 21px;
  margin: 0.25rem;
  cursor: pointer;
}

/* 2nd section starting here */
.SectionBlack{
  background-color: #152237;
  padding-bottom: 51px;
  color: white;
  padding-left: 100px;
  padding-top: 33px;
}

#BoxFormation2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 34px;
  max-width: 100vw;
  justify-content:space-evenly;
  background-color: #152237;
  margin-left: 100px;
  margin-right: 100px;
}

.Price2{
  display: flex;
  flex-direction: row;
  position: absolute;
  background:white;
  border-radius: 93px;
  max-width: 120px;
  max-height: 32px;
  color:  #152237;
  padding: 5px 8px;
  top: 190px;
  right: 5px;
}

#VoirPlusDiv2{
  justify-items: center;
  margin-top: 2.6rem;
}

#VoirPlus2{
   max-width: 225px;
  max-height: 40px;
  display: flex;
  border: 0;
  border-radius: 6px;
  background: white;
  color: #152237;
  padding: 11px 21px;
  margin: 0.25rem;
  cursor: pointer;
}

/* 3rd section starting here */

#Avis{
  padding-left: 100px;
  padding-top: 33px;
}

#AvisBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-evenly;
}

.AvisClients{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.AvisClients p{
  margin-top:2px;
}

.PicCustomer{
  max-width: 139px;
  border-radius: 155px;
}

/*4th paragraph. let me out ffs*/

#AvantKlivio{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  padding-right: 103px;

}

#AvantKlivio h2{
  padding-left: 98px;
  font-weight: 900; 
}

#AvantBox{
  display: flex;
  flex-direction: row;
  padding-left: 98px;
}

#ListAvant{
  padding-right: 71px;
}

.ListItem{
  display: flex;
  flex-direction: row;
}

.Img{
max-width: 727px;
max-height: 472px;
padding-bottom: 93px;
}

.IconLi{
max-width: 30px;
max-height: 30px;
}

#FormationKlivio{
display: flex;
flex-direction: column;
background-color: #44DD8A;
padding-top: 76px;
}

#FormatBox{
  display: flex;
  flex-direction: row;
}

#ListForm{
  display: flex;
  flex-direction: column;
  padding-right: 87px;
}

.Img2{
max-width: 729px;
max-height: 487px;
padding-bottom: 93px;
padding-left: 101px;
padding-right: 78px;
}

/*5th section here -_- */

#FifthSec{
display: flex;
flex-direction: row;
background-color: #F5F5F5;
}

#APropKliv{
display: flex;
flex-direction: column;
width: 50vw;
padding-top: 184px;
padding-left: 103px;
}

#BigKliv{
display: flex;
flex-direction: column;
background-color: #152237;
width: 50vw;
}

#BigKlivImg{
  max-width: 430px;
  max-height: 155px;
  padding: 292px 200px 292px 200px;
}

/*6th section.*/
#Form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

.Form{
  background-color: #152237;
  border: none;
  padding: 8px 22px 9px 18px;
}

#NameMail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 56px;
  margin-left:172px;
  margin-right: 172px;
}

#TextArea{
  background-color: #152237;
  border: none;
  margin-bottom: 54px;
  margin-left:172px;
  margin-right: 172px;
}

#Send{
  background-color: #44DD8A;
  border: none;
  border-radius: 6px;
  max-width: 351px;
  max-height: 45px;
  padding: 12px 43px 12px 43px;
  margin-bottom: 77px;
  margin-left: 664px;
  margin-right: 664px;
}

/* Footer Here */
#Footer{
  padding-top: 109px;
  padding-left: 96px;
  padding-right: 102px;
  background-color: #152237;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#BarDeco{
  content: '';
  background-image: linear-gradient(to right,#44DD8A, #15B7E2);
  height: 18px;
  width: 100vw;
}

#BottomBar{
background-color: #44DD8A;
content: "";
height: 2px;
}

#KlivFooter{
  max-width: 243px;
  max-height: 87px;
}

#MentionLegales{
  display: flex;
  flex-direction: column;
}

#ButtonFooter{
  display: flex;
  flex-direction: column;
}

#Connect{
width: 130px;
height: 40px;
border: none;
border-radius: 6px;
margin-bottom: 12px;
}

#Inscr{
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(to right,#44DD8A, #15B7E2);
}

.ObjCoord{
  display: flex;
  flex-direction: row;
}

#Footer2{
  background-color: #152237;
  color: white;
  padding-left: 96px;
  padding-right: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Copyright{
  display: flex;
  flex-direction: row;
}

#Follow{
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
}

.LogoContact{
  width: 24px;
  height: 24px;
}

.LogoFooter{
width: 30px;
height: 30px;
}